.heroSection {
  padding: 50px 20px;
  background-color: #fbf7ed;
  border: none;
}
.leftContent h1 {
  font-weight: 900;
  color: #014c3f;
  font-size: 52px;
}
.leftContent p {
  width: 85%;
  margin-top: 25px;
  color: #8a8a8a;
  font-family: 'Poppins', sans-serif;
}
.leftContent p:last-child {
  width: 95%;
  margin-top: 20px;
  color: #8a8a8a;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
.leftContent input {
  width: 90%;
  padding: 8px 10px;
}

.leftContent input:focus {
  outline: none;
}
.rightImg {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.leftBtn {
  background-color: #008060;
  border: 1px solid #008060;
  margin-top: 8px;
  border-radius: 3px;
  width: 90%;
  padding: 8px 10px;
  color: #fff;
}
.leftBtn:hover {
  background-color: transparent;
  border: 1px solid #008060;
  color: #008060;
}
